/best_model.keras
/chm.tif
/combined.las
/dtm_kriging.tif
/fine_tuned_best_model.keras
/fine_tuned_model.keras
/fine_tuning_history.json
/ground_classified.las
/Labeled_Data
/mcc_pipeline.json
/orthophoto.tif
/points_filtered.las
/temp_filtered.las
/training_history.json
/tree_crowns.cpg
/tree_crowns.dbf
/tree_crowns.prj
/tree_crowns.shp
/tree_crowns.shx